section{
  padding-block: 15vh;
}

.skills img{
  width: 50px;
}

p{
  font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


@media screen and (max-width:875px){
  .about-me {
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.about-me .heading-subtitle{
  padding-left: 2rem !important;
}
}

@media screen and (max-width:1445px){
  .skill{
    font-size: 1.4rem !important;
  }
}

@media screen and (max-width:1112px){
  .skills .skills-text .skills-subtitle{
      grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width:715px){
  .skills .skills-text .skills-subtitle{
      grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width:481px){
  .skills .skills-text .skills-subtitle{
      grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (max-width:767px){
  .banner p{
    width: 100% !important;
    text-align: center;
  }

  .banner-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}